<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuqi.jobnow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.wuqi.jobnow.JobnowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Jobnow" >
        <activity
            android:name="com.wuqi.jobnow.activities.EntryActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wuqi.jobnow.activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.wuqi.jobnow.activities.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wuqi.jobnow.activities.OffersActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_offers" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wuqi.jobnow.activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.wuqi.jobnow.activities.OffersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wuqi.jobnow.activities.OffersActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDp5H-WHcjaMg4unTROG0E2h2lCxSlFi3s" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.wuqi.jobnow.activities.MyListActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
        <activity
            android:name="com.wuqi.jobnow.activities.MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>

        <provider android:name="com.wuqi.jobnow.data.SearchContentProvider"
            android:exported="false"
            android:authorities="com.wuqi.jobnow.data.search_content_provider" />
    </application>

</manifest>